@using cSharp_netflix.Models;
@model List<cSharp_netflix.Models.Actor>
<div>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cognome</th>

                </tr>
            </thead>

            <tbody>
                @foreach (Actor actor in Model)
                {
                    <tr>
                        <td>
                            @actor.Name
                        </td>
                        <td>@actor.Surname</td>
                        <td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


<script type="text/javascript">
    let actors;
    axios.get("api/home/get")
        .then(response => {
            actors = response.data;
            console.log(actors);
        })
        .catch(error => {
            console.log(error);
        });
</script>
