@using cSharp_netflix.Models;

    <h1>Home page</h1>

    <body onload="cercaAttore()">
        <div class="container">
            <input class="js-search" type="text" placeholder="Cerca l'attore" />
            <div class="row">

            </div>
        </div>
        <div class="row js_no_post text-center d-none">
            <div class="col-12">
                <h3>Non hai inserito alcun post</h3>
            </div>
        </div>
        <div class="row">
            @*qui verranno mostrati gli elementi*@
        </div>
        @*@foreach (var item in Model)
        {
            <tr>
                
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
               
            </tr>
        }*@
    </body>
  

    <script type="text/javascript">

        const Actor = document.querySelector(".row");
        const Search = document.querySelector(".js-search")
        let list;
        Search.addEventListener("keyup", cercaAttore)
        function cercaAttore() {
            let name = this.value;
            risultati(name);

        }
        function risultati(name) {
            axios.get("api/home/get", {
                params: {
                    name: name
                }
            })
                .then(function (response) {
                    console.log(response);
                    list = response.data;
                    if (list.length > 0) {
                        Actor.innerHTML = ""
                        list.forEach(actor => {
                            Actor.innerHTML +=
                                `<div class="col-4 py-2" >
                                    <a href="/Home/Details/${actor.id}">
                                    @*<a href="@Url.Action("Details", "Home", new {Id = actor.id})" class="btn btn-danger my-3">Details*@
                                        <div class="card bg-danger text-black border-2  rounded-lg" >
                                            <span class="py-1" >Name ${actor.name}</span>
                                            <span class="py-1" >Surname ${actor.surname} </span>
                                        </div>
                                        @*<a asp-action="Delete" asp-route-id="${actor.Id}">Delete</a>*@
                                        <button onclick="deleteActor(${actor.id})" class="btn btn-danger">Elimina</button>
                                    </a>
                                  </div>`
                        } )
                    } else {
                        Actor.innerHTML = "<h1>non ci sono attori</h1>"
                    }
                })
                .catch(function (error) {
                    console.log(error);
                })
        }
        function deleteActor(id) {
            axios.delete('/api/home/delete/' + id).then(res => {
                console.log(res);
                loadList("");
                alert('scusa Paolo, mi hai eleminato :(');
            }).catch(err => {
                console.log(err);
                alert('Non posso elimanarla paolooooo!');
            })


        }</script>
