@using cSharp_netflix.Models;

    <h1>Home page</h1>


    <body onload="cerca()">
        <section class="text-center  " id="pizza-library">
            <div class="container">
                <input class="js-search" type="text" placeholder="Cerca l'attore" />
                <div class="row">
                   
                </div>
            </div>
        </section>
    </body>


    <script type="text/javascript">

        const Actor = document.querySelector(".row");
        const Search = document.querySelector(".js-search")
        let list;
        Search.addEventListener("keyup", cerca)
        function cerca() {
            let name = this.value;
            risultati(name);

        }
        function risultati(name) {
            axios.get("api/home/get", {
                params: {
                    name: name
                }
            })
                .then(function (response) {
                    console.log(response);
                    list = response.data;
                    if (list.length > 0) {
                        Actor.innerHTML = ""
                        list.forEach(actor => {
                            Actor.innerHTML +=
                                `<div class="col-4 py-2" >

                                    <a href="/Home/Details/${actor.id}" class="text-decoration-none text-danger card" >
                                    @*<a href="@Url.Action("Details", "Home", new {Id = actor.id})" class="btn btn-danger my-3">Details*@

                                    <div class="card bg-dark bg-gradient text-white border-2  rounded-lg" >

                                        <span class="py-1" >Name ${actor.name}</span>
                                        <span class="py-1" >Surname ${actor.surname} </span>
                                        </div>
                                    </a>
                                    </div>`
                        } )
                    } else {
                        Actor.innerHTML = "<h1>non ci sono attori</h1>"
                    }
                })
                .catch(function (error) {
                    console.log(error);
                })
        }</script>
